# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

# Build outputs
.next
out
dist
coverage

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode/
