@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 14 14 16;
  --fg: 248 250 252;
}

html, body, #__next {
  height: 100%;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--fg));
}

.container-max {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}
